*{
  border: 0;
  margin: 0;
  /* font-family: 'poppins' sans-serif; */
  box-sizing: border-box;
  color: rgb(0, 0, 0);
}
body{
  
}
.wrapper{
border: 0;
width: 100%;
height: 100vh;
background-color: rgba(153, 127, 127, 0.5);
background-position: center;
background-size: contain;

}
.header{
 
  }
  .header h1{
    text-align: center;
    color: blue;
  }
.logo{
  border: 0;
  float: left;
}
.nav{
  border: 0;
  margin-bottom: 5px;
  padding: 10px;
  text-align: right;
 
  
}
a{
  padding: 14px;
  text-decoration: none;
}
a:hover{
  background-color: rgb(7, 252, 19);
  color:#0918f3;
}
.nav li{

  display: inline-block;

}
ul{
  list-style-type: none;
}
.container{
  justify-content: center;
  align-items: center;
 background-color: rgb(40, 46, 46);
}
.contact{
  border: 0;
  font-size: 25px;
  text-align: center;
  margin-bottom: 5px;
  padding: 10px;

}
.input-group{
  

}
input,textarea{
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  outline: 0;
  border: 1px solid;
  background: transparent;
  font-size: 15px;
}


button{
  background-color: rgb(44, 199, 199) ;
  color: #fff;
  font-size: 19px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  outline: none;
  border-radius: 8px ;
  margin: 1px 2px 30px 20px;
}
button:hover{
  background-color: rgb(40, 100, 100) ;
}
.left{
  background-color: beige;

  width: 50%;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  margin: 20px 10px 20px 25%;
  
}
.left p{
color:#06071b;
font-size: 19px;
margin-bottom: 20px;
}

form{
  width: 90%;
  max-width: 600px;

}
.right{
  display: flex;
  border: 0;
  margin-bottom: 5px;
  padding: 10px;
  flex: 50%;
 

}
.call{

  margin-bottom: 5px;
  padding: 10px;
}
.email{
  margin-bottom: 5px;
  padding: 10px;
}
.email a:hover{
  background-color: rgb(7, 252, 19);
  color:#0918f3;
  padding:0;
  font-size: 19px;
}
.location{

  
}
img{
  width:40px;
}
img:hover{
  width:50px;

}
.footer{
background-color: black;
padding: 5px;
color: blue;
padding: 20px; 
}
/* for devices with screen size is 600px or less */
@media only screen and (max-width:600px) {
  *{
    border: 0;
    margin: 0;
    /* font-family: 'poppins' sans-serif; */
    box-sizing: border-box;
    color: rgb(0, 0, 0);
  }
  body{
    
  }
  .wrapper{
  border: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(153, 127, 127, 0.5);
  background-position: center;
  background-size: contain;
  
  }
  .header{
   
    }
    .header h1{
      text-align: center;
      color: blue;
    }
  .logo{
    border: 0;
    float: left;
  }
  .nav{
    border: 0;
    margin-bottom: 5px;
    padding: 10px;
    text-align: right;
   
    
  }
  a{
    padding: 14px;
    text-decoration: none;
  }
  a:hover{
    background-color: rgb(7, 252, 19);
    color:#0918f3;
  }
  .nav li{
  
    display: inline-block;
  
  }
  ul{
    list-style-type: none;
  }
  .container{
    justify-content: center;
    align-items: center;
   background-color: rgb(40, 46, 46);
  }
  .contact{
    border: 0;
    font-size: 25px;
    text-align: center;
    margin-bottom: 5px;
    padding: 10px;
  
  }
  .input-group{
    
  
  }
  input,textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    outline: 0;
    border: 1px solid;
    background: transparent;
    font-size: 15px;
  }
  
  
  button{
    background-color: rgb(44, 199, 199) ;
    color: #fff;
    font-size: 19px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    outline: none;
    border-radius: 8px ;
    margin: 1px 2px 30px 20px;
  }
  button:hover{
    background-color: rgb(40, 100, 100) ;
  }
  .left{
    background-color: beige;
  
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    margin: 20px 10px 20px 25%;
    
  }
  .left p{
  color:#06071b;
  font-size: 19px;
  margin-bottom: 20px;
  }
  
  form{
    width: 90%;
    max-width: 600px;
  
  }
  .right{
    display: flex;
    flex-direction: column;
    border: 0;
    margin-bottom: 5px;
    padding: 10px;
    flex: 50%;
   
  
  }
  .call{
  
    margin-bottom: 5px;
    padding: 10px;
  }
  .email{
    margin-bottom: 5px;
    padding: 10px;
  }
  .email a:hover{
    background-color: rgb(7, 252, 19);
    color:#0918f3;
    padding:0;
    font-size: 19px;
  }
  .location{
  
    
  }
  img{
    width:40px;
  }
  img:hover{
    width:50px;
  
  }
  .footer{
  background-color: black;
  padding: 5px;
  color: blue;
  padding: 20px; 
  }
  
  
}