
body {
    background-color: #FFF;
}
ul{
    list-style-type: none;
}
p{
    line-height: 1.6;
    font-family: Segoe UI;
    
}
h1 {
    line-height: 1.7;
    color:#F2F2F2;
    font-family: monospace;
}

a {
    color:#F2F2F2;
    text-decoration: none;
    line-height: 1.6;
    font-family: monospace;
}


a:link {color:navy;
    text-decoration:none}

a:visited {color: black;}

a:hover {color: red;
     text-decoration: underline;
    transform: scale(1.1);}

a:active {color: goldenrod;}

.container
{
    margin: -8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 650px 100px;
    grid-gap: 5px;
}



.header
{
    grid-column: 1 / span 4;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0px;
    grid-gap: 10px;
    height: 58px;
    background-image: url("../img/home1.jpg");
}

.header h1
{
    color: white;
    line-height: 0.5;
    padding-left: 100px;

}

.header ul
{
    padding-right: 100px;
}

.header li 
{
    display: inline;
    list-style: none;

}

.header li a
{
    color: white;
    line-height: 0.5;
    margin: 5px;

}

.header a:hover {
    color: red;
     text-decoration: underline;
    transform: scale(1.1);}

.main 
{
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-column: 1/ span 3;
    padding: 10px;
    margin: 10px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 25px;
    margin-bottom: 10px;
    background-image: url("../img/back2.jpg");
    height: 550px;
    border-radius: 10px;
}

h2{
    background-color: #EFF0F1;
    border-radius: 10px;
    font-size: 30px;
    text-align:center;
    color: lightseagreen;
    padding:20px;
    margin: 10px;
}

.form-detail
{
    display: grid;
    grid-template-columns: 300px 400px;
    grid-gap: 10px;
    padding: 5px;
    padding-left: 150px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin:30px auto;
    border-radius: 10px;
    color: lightseagreen;
    font-weight: bold;
    
}

.form-detail i{
    position: absolute;
    top: 32px;
    right: 10px;
    visibility: hidden;
}

.form-detail small{
    position: absolute;
    display: block;
    visibility: hidden;

}

input
{
    outline: none;
    border-radius: 5px;
}

.input-box input
{
   width: 60%;
    height: 25px;
}

.input-box.success input {
    border-color: green;
}

.input-box.error input {
    border-color:  red;
}
.input-box .error{
    color: red;
    font-size: 9px;
    height: 10px;
}
.box
{
 border-radius: 20px;
 padding: 6px;
}

.box:focus
{
    background-color: lightseagreen;
}

.bot:hover
{
    background-color: lightseagreen;
}

.sel
{
    padding: 4px;
    border-radius: 10px;
}

.sel:focus
{
    background-color: lightseagreen;
}


 .gender-detail
{
    font-weight: normal;
    color: white;
} 

.button
{
    grid-column-start: 1;
    grid-row-end: 8;
    width: 100%;
    margin-left: 80px;
    text-align: right;

}


.footer
{
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    grid-column-start: 1;
    grid-column-end: 4;

    background-color: #00090D;
    color:#F2F2F2;
    height: 175px;
    padding: 5px;
}

.footer .left{
    color:#F2F2F2;
    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    text-transform:capitalize;
    padding:5px;
    text-align: left;
   
}

.footer .left li
{
    display: block;
}




.footer .center{
    text-align: left;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.footer .center li a{
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    color: white;
    display: block;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}

.footer .center li a:hover {
    color: red;
    text-decoration: underline;
   transform: scale(1.1);}

.footer .right 
{
    text-align: right;
}

@media all and (max-width: 1300px)
{

    .container
    {
        margin: -8px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100px 100vh 100px;
        grid-gap: 5px;
        height: 100vh;
    }

    .main 
    {
        display: grid;
        grid-template-rows: 100px 1fr;
        grid-column: 1/ span 3;
        padding: 10px;
        margin: 10px;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 25px;
        margin-bottom: 0px;
        background-image: url("../img/back2.jpg");
        height: 100vh;
        border-radius: 10px;
    }

    h2{
        background-color: #EFF0F1;
        border-radius: 10px;
        font-size: 30px;
        text-align:center;
        color: lightseagreen;
        padding:20px;
        margin: 10px;
    }

    .form-detail
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        padding: 100px;
        padding-left: 15px;
        text-align: center;
        font-family: "Roboto", sans-serif;
        margin: 30px auto;
        border-radius: 10px;
        color: lightseagreen;
        font-weight: bold;
        
    }

    input
    {
        outline: none;
        border-radius: 5px;
    }

    .input-box input
    {
    width: 100%;
        height: 25px;
    }

    .box
    {
    border-radius: 20px;
    padding: 6px;
    }


    .sel
    {
        padding: 4px;
        border-radius: 10px;
    }

    .gender-detail
    {
        font-weight: normal;
        color: white;
    } 

    .button
    {
        grid-column-start: 1;
        grid-row-end: 8;
        width: 100%;
        margin-left: 150px;
        text-align: center;

    }

    }
