body
{
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.container
{
    
    padding: 1px
}

.container div
{
    padding 10px;
}

.header
{
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    grid-gap: 10px;
    border: 1px solid;
    margin: 1px;
    height: 58px;
}

li
{
    list-style-type: none;
    display: inline;

}

a:link {color:navy;
    text-decoration:none}

a:visited {color: black;}

a:hover {color: red;
     text-decoration: underline;
    transform: scale(1.1);}

a:active {color: goldenrod;}


.main 
{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid;
    height: 400px;
        background:linear-gradient(to right, #78a7ba 0%, #385D6C 50%, #78a7ba 99%);

}

h2
{
    background-color: #EFF0F1;
    border-radius: 10px;
    font-size: 30px;
    text-align:center;
    color: lightseagreen;
    padding:20px;
    border-bottom:1px solid #cccccc;
    margin: 10px;
}

form
{
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin:20px 400px 20px 400px ;
    padding-top: 60px;
    background:linear-gradient(to right, #ffffff 0%, #fafafa 50%, #ffffff 99%);
    border-radius: 10px;
    color: lightseagreen;
    font-weight: bold
}

input
{
    outline: none;
    border-radius: 5px;
}


.footer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 4;
    border: 1px solid;
    text-align: center;
    align-items: center;
    height: 100px;

    font-size: 4;
    text-decoration: #2f2f2e;
}
