* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body {
    background-color: #FFF;
}
ul{
    list-style-type: none;
}
p{
    line-height: 1.6;
    font-family: Segoe UI;
    
}
h1 {
    line-height: 1.7;
    color:#F2F2F2;
    font-family: monospace;
}

a {
    color:#F2F2F2;
    text-decoration: none;
    line-height: 1.6;
    font-family: monospace;
}
/*
colors
#051926 darkgreen #485359 gray #00090D ddarkgreen #273940 grays #011F26 darkgreen #F2F2F2 whitel
*/
.content{
    background-image: url("img/home1.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    
}
.nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav h1 ,.nav div, .nav i{
    margin:100px;
}
.nav li{
    display: inline;
    flex-flow: wrap;
}
.nav a{
    padding:7px 0px;
    font-size: 18px;
    margin: 0 8px;
}
.nav i{
    color :#F2F2F2;
    font-size: 28px;
    display: none;
    cursor: pointer;
}
.nav a:hover{
    color:#0679bb;
}
.main{
    display: flex;
    position: relative;
    height: 480px;
    justify-content: center;
}
.hero{
    color: #FFF;
    flex-basis: 100%;
    width: 800px;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

.hero h1{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hero p{
    width:100%;
    text-align: center;
    padding: 8px;
    justify-content: center;
}
.hero h1:hover{
    animation-name: moveleft;
    animation-duration: 2s;
}

@keyframes moveleft {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(20px);
    }
    100%{
        opacity: 1;
        transform: translateX();
    }
}


.search{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto;
    padding:10px 20px;
    border-radius: 30px;
    background: #FFF;
    width: 0vw;
    transition: 0.8s;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0,0.4);

}
.search:hover{
    width: 50vw;
}
.hero .search:hover input{
    width: 320px;
    cursor:pointer;
}
.search i{
    color: #00090D;
    padding-right: 5px;
}
.hero .search input{
    background: transparent;
    border: none;
    outline: none;
    width: 0px;
    font-weight: 500;
    font-size: 20px;
    transition: 0.8s;
    
}

.stat{
    display: flex;
    justify-content: center;
}
.statcon{
    margin: 50px 60px;
    width: 60vw;
}
.statcon h3{
    font-size: 40px;
    text-transform: uppercase;
    color:#74a57f;
}
.images{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.image .fas{
    align-items: center;
    font-size: 50px;
    height: auto;
    color:#383f51;
    justify-content: space-between;
    
}


.image p{
    padding: 6px;
}

.textalign {
    text-align: center;
    margin-bottom: 50px;
}

/* content images */

.intro{
    display:flex;
    justify-content: center;
}

.cimages{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 4px;
    width: 96vw;
    height:400px;
    gap: 10px;
}

.dimg{
    border-radius: 12px;
    width: 280px;
    padding: 20px;
    height:100%;
    background-color: #F2F2F2;
}
.front h3{
    font-size: 15px;
    padding-top: 15px;
    font-family: Roboto Mono;
}
.front a{
    margin-top: 20px;
    border-radius:1px ;
    padding: 20px;
    display: inline-block;
    background-color: #a8d5e9;
    color: #F2F2F2;
}
.front a:hover{
    background-color: #fff;
    color:#051926;
    border:3px solid #051926;
}
.cimage{
    width: 98%;
    height:200px;
    border-radius: 5px;
}

.grid2, .grid4{
    height: 500px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.grid1, .grid3{
    height: 500px;
    padding:20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.maincon{
    position: relative;
    width: 280px;
    height: 365px;
}
.card{
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    background-color: #FFF;
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card:hover{
    transform: rotateY(180deg);
}
.front{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 13px;
    backface-visibility: hidden;

}
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-image: linear-gradient(to right , #383f51 , #00a5e0);
    transform: rotateY(180deg);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 3rem;
    color: rgb(255, 255, 255);
    position: relative;
}
.back a{
    margin-top: 40px;
    margin-left: 40px;
    width: 200px;
    
    padding: 20px 0px;
    background-color: rgb(255, 255, 255);
    color:#252627;
    font-size: 20px;
    border-radius: 200px;
    display:inline-block;
    justify-content: center;
}

/*service*/

.service{
    display: flex;
    justify-content: center;
}
.servicecont{
    width: 80vw;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    padding: 20px 20px;
}

.con {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 1rem;
}


.p1{
    grid-column-start: 1;
    grid-column-end: span 2;
    text-align: center;
    padding:1rem;
}

.p2{
    grid-column-start: 2;
    grid-column-end: span 2;
    text-align: center;
    padding: 1rem;
}
.con img{
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.con img:hover{
    transition: 1s;
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, 
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #00090D;
    color:#F2F2F2;
    height: 200px;
    padding: 25px;
}

.footer .left{
    color:#F2F2F2;
    line-height: 1.7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-transform:capitalize;
    padding:20px;

}

.footer .center{
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    justify-content: center;
}

.footer .center .navfoot ul li a{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer .center p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #00090D;
}
.footer .right p{
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

@media only screen and (max-width:700px){
    
    
    .main{
        width: 100%;
        position: relative;
    }
    .hero{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        align-items: center;
    }
    .hero h1{
        position: absolute;
        font-size: 30px;
        top:80px;
    }

    .hero p{
        position: absolute;
        top:180px;
    }
    .hero .search{
        position: absolute ;
        top: 300px;
        width: 100%;
    }

    .nav{
        margin: 0px;
        position: fixed;
        justify-content: space-between;
        align-items: left;
        flex-basis: 100%;
        width: 100%;
        background-color:#000000;
        z-index: 4;
    }
    .nav .logo , .nav i{
        margin: 10px;
    }
    .nav ul{
        position: absolute;
        left:0px;
        width: 100%;
        display: block;
        top:75px;
        text-align: center;
        z-index: 2;
        background-color: #000000;
        
    }
    .nav li{
        display: block;
        line-height: 1.6;
        font-size: 15px;
        color: #F2F2F2;
        align-items: center;
    }
    .nav i{
        display:block;
    }
    .nav a{
        margin: 0 8px;
    }
    .hero .search input{
        width: 320px;
        cursor:pointer;
    }
    #menulist{
        overflow: hidden;
        transition: 0.5s;
    }
    .stat{

        position: relative;
        top:75px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .statcon{
        margin: 50px 60px;
        width: 60vw;
    }
    .statcon h3{
        font-size: 40px;
        text-transform: uppercase;
        flex-basis: 100%;
        color:#74a57f;
    }
    .images{
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    
    .image .fas{
        align-items: center;
        font-size: 50px;
        height: auto;
        color:#383f51;
        justify-content: space-between;
        
    }


    .cimages{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }
    
    .con{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }
    .con p2{
        flex:2;
    }
    .con img{
        flex:1;
        width: 100%;
    }


    .footer{
        display: flex;
        flex-direction: column;
        background-color: #00090D;
        color:#F2F2F2;
        height: 340px;
        padding: 25px;
        font-size: 15px;
        align-items: flex-start;
    }
    .footer .left{
        align-items: flex-start;
        font-size: 15px;
        line-height: 1.2;
    }
    .footer .center{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .footer .center .navfoot ul li a{
        font-size: 15px;
        padding: 12px;
        color:#F2F2F2;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .footer .center p{
        padding: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
        background-color: #00090D;
    }
    .footer .right p{
        padding: 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
    }

}


/* Items css */

.nav2{
    margin: 0;
    background-color:rgba(0,0,0,0.9);
    width: 100vw;
    position: fixed;
}

.nav h1 , .nav div{
    margin: 20px;
}

.hero1{
    width: 100vw;
    height: 700px;
    display: flex;
}

.hero1 img{
    align-items: center;
    width: 700px;
}

.sticky {
    background-color: #000000;
    width: 100vw;
    z-index: 1000;
    position: fixed;
}
